<div class="main__container-index">
  <img src="images/library-logo.png" alt="libraryApp - Track your books">
  <h1>Welcome to - {{title}}</h1>
  <p>The perfect app to keep track of all your books!</p>
</div>