* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.main__container {
  width: 90vw;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.41); 
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.41);
}

.main__container nav {
  display: flex;
  height: 80px;
}

.main__container nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  text-transform: uppercase;
  background-color: rgb(117, 117, 117);
  margin: 0;
  padding: 0;
}

.main__container nav ul li {
  list-style: none;
}

.main__container-body {
  flex: 2;
  display: flex;
  justify-content: center;
  text-align: center;
}

.main__container-body > div {
  margin-top: 50px;
}

.main__container-body h1 {
  font-size: 40px;
  font-weight: bold;
}

.main__container-index {
  align-self: center;
}

.main__container-index h1 {
  margin-bottom: 50px;
}

.main__container-footer {
  height: 80px;
  border-top: 1px solid #000;
  text-align: center;
  padding-top: 20px;
}

.main__container--authors-list,
.main__container--books-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.main__container--authors-header,
.main__container--books-header {
  border-bottom: 1px solid #000;
  margin-bottom: 40px;
}

.main__container--authors--list-item,
.main__container--books--list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  width: 200px;
  border: 1px solid #000;
  gap: 10px;
  min-height: 150px;
}

.main__container--authors--list-item > div:first-child,
.main__container--books--list-item > div:nth-child(2) {
  font-weight: bold;
  font-size: 20px;
}

.main__container--books--list-item > div:nth-child(3) {
  font-style: italic;
  color: rgb(112, 111, 111);
}

.main__container--authors--list-item > div:nth-child(4),
.main__container--books--list-item > div:nth-child(5) {
  display: flex;
  height: 30px;
  align-items: center;
  background-color: rgb(117, 117, 117);
}
.main__container--authors--list-item > div:nth-child(4) > div,
.main__container--books--list-item > div:nth-child(5) > div {
  flex: 1;
}

.main__container--authors-create form,
.main__container--authors-details,
.main__container--books-details,
.main__container--books-create form {
  display: grid;
  grid-template-columns: auto auto;
  width: 400px;
  row-gap: 20px;
  margin-top: 50px;
}

.main__container--books-details label,
.main__container--authors-details label {
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
}

.main__container--authors-details div,
.main__container--books-details div,
.author__form label {
  text-align: left;
  margin-left: 50px;
}
.main__container--authors-create form button,
.main__container--authors-details button,
.main__container--books-details button, 
.main__container--books-create form button {
  grid-column-start: 1;
  grid-column-end: 3;
}

.btn {
  grid-column-start: 1;
  grid-column-end: 3;
}

.main__container-authors img,
.main__container--authors-create img,
.main__container--books-create img {
  height: 200px;
}
.main__container-books img {
  height: 100px;
}

.main__container--books--create-authors {
  display: flex;
  gap: 5px;
}

.main__container--books--create-authors > :first-child {
  flex: 3;
}
.main__container--books--create-authors > button {
  width: 50px;
}

.main__container-index img {
  height: 200px;
}

.main__container--books--create--authors-container {
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content: start;
  align-items: flex-start;
  border: 1px solid #000;
  padding: 20px;
  width: 100%;
}

.main__container--books--create--authors--container-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main__container--books--create--authors--container-item > button {
  border: 0;
  padding: 5px;
}